
html, body {
  height: 100%;
  display: grid;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

h1 {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 34px;
  margin: 1.5275rem auto 1.34rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.65;
}

.articles {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.625rem;
}

.icon {
  width: 3.25rem;
}

.article {
  padding: 2.5rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.btn {
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0.3125rem 0rem 0rem;
  padding: 0.6875rem 1.5625rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  display: inline-block;
  text-decoration: none;
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid;
  color: hsl(0, 0%, 95%);
}

.btn-sedans {
  color: hsl(31, 77%, 52%);
}

.btn-suvs {
  color: hsl(184, 100%, 22%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.attribution {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: hsl(0deg 2.89% 84.76%);
  padding: 0.5rem;
  right: 0;
  left: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    margin: 1.862rem auto 1.675rem;
  }

  .articles {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    max-width: 57.5rem;
    margin: auto;
  }

  .article {
    padding: 2.9375rem;
    flex: 1 1 0;
  }

  .icon {
    width: 4rem;
  }

  p {
    font-size: 0.95rem;
  }

  .btn {
    margin: 4.375rem 0 0;
    padding: 0.8125rem 1.9375rem;
    font-size: 0.9375rem;
  }
}
